{% extends "base.html" %}
{% set active_page = "api_page" %}
{% block content %}
    <h3>API</h3>
    <p>The DGA algorithm API is restricted to our private customers only. If you are interested in the private API please contact us via the Contact page for inquiries.</p>

    <p>The DGA API query provides context around a potential DGA for your analyst while leveraging machine learning algorithms and our massive database of true DGA domains and DGA malware families.</p><br/>

    <h4>API Example Query</h4>
    <div class="container-fluid bg-light p-3 mb-3"><code style="color:black;">
    import requests<br/><br/>
    url = 'http://blodgic.com/api'<br/>
    headers = {'Authorization': 'Bearer [API key]'}<br/><br/>
    r = requests.post(url, json={'domains':'[Query domain]'}, headers=headers)<br/>
    print(r.json())
    </code></div>

{% endblock %}
