{% extends "base.html" %}
{% set active_page = "contact" %}
{% block content %}
    <div class="container-fluid">
    <div class='row'>
        <div class="col-sm-3 col-xs-12 text-sm-right text-xs-left"><h3>Contact Us</h3></div>
    </div><br/>
    <form method="post" id="contact_form">
        {{ form.hidden_tag() }}
            {% for field in form %}
                <div class='row'>
                {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                    <div class="col-sm-3 text-sm-right text-xs-left">{{ field.label }}:</div>
                    <div class="col-sm-6 text-sm-right text-xs-left" style="text-align:left">
                        {% if field.type == "TextAreaField" %}
                            {{ field(rows="5") }}
                        {% else %}
                            {{ field() }}
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
            <div class='row'>
                <div class='col-sm-3'></div>
                <div class="col" id="send_email">{{ form.submit() }}</div>
            </div>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </form>
    </div>
{% endblock content %}