{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
{#    <pre>#}
{#                                         |#}
{#                                         |#}
{#           |DGA Test ML Engine|          |#}
{#   __DGAs_                   _Benign_    |#}
{#  |ooooooo|      ____       | __  __ |   |#}
{#  |[]+++[]|     [____]      |/  \/  \|   |#}
{#  |+ ___ +|     ]()()[      |\__/\__/|   |#}
{#  |:|   |:|   ___\__/___    |[][][][]|   |#}
{#  |:|___|:|  |__|    |__|   |++++++++|   |#}
{#  |[]===[]|   |_|_/\_|_|    | ______ |   |#}
{#_ ||||||||| _ | | __ | | __ ||______|| __|#}
{#  |_______|   |_|[::]|_|    |________|   \#}
{#              \_|_||_|_/                  \#}
{#                |_||_|                     \#}
{#               _|_||_|_                     \#}
{#              |___||_BL_|                    \#}
{#           Machine Learning#}
{#    </pre>#}
    <div class="d-flex flex-column justify-content-center align-items-center" style="padding-top:120px;padding-bottom:120px">
        <p style="font-weight: bold">Analyze domains or full urls suspected of being associated with a DGA</p>
        <form action = "/result" method = "POST" style="min-width:100%; text-align:center">
            <input type="text" name="domain" placeholder="Enter a domain" style="min-width: 85%"/>
            <input type="submit" value="submit" />
        </form>
    </div>

{% endblock content %}